# macOS
.DS_Store
._*

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependencies
node_modules

# Build output
dist
build
*.tsbuildinfo

# Editor
.idea/
.vscode/

# Local data
database.sqlite
code/e2e/.test-db.sqlite
code/e2e/test-results/
code/e2e/playwright-report/
code/e2e/blob-report/
dump.rdb
coverage/
.nyc_output/
